<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
    <form class="h-screen w-full text-white gap-10 flex items-center justify-center flex-col bg-zinc-900" action="/users/register" method="post">
        <h1 class="text-2xl uppercase">Create Account</h1>
        <input class="border-2 border-black-300 px-6 py-3 rounded-lg w-[30vw]" type="text" name="username" placeholder="Enter your username" required>
        <input class="border-2 border-black-300 px-6 py-3 rounded-lg w-[30vw]" type="email" name="email" placeholder="Enter your email" required>
        <input class="border-2 border-black-300 px-6 py-3 rounded-lg w-[30vw]" type="password" name="password" placeholder="Enter your password" required>
        <input class="border-2 border-black-300 px-6 py-3 rounded-lg w-[30vw]" type="number" name="age" placeholder="Enter your age" required>

        <button class="bg-green-500 px-4 py-3 border-2 border-zinc-900 rounded-lg text-bold text-xl cursor-pointer outline-none w-[30vw]">Register</button>

        <p class="text-lg">Already have an account? <a href="/users/login" class="text-blue-400">Login</a></p>
    </form>
</body>
</html>